<div class='row sticky'>
  <div class='col-sm-3'>
    <div class='side-nav'>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a data-toggle="tab" href="students">Student</a></li>
        <li><a  href="attendences">Attendances</a></li>
         <li><a  href="textbooks">Text Books</a></li>
      </ul>
    </div>
  </div>
  <div class='col-sm-9'>
    <div class="tab-content">
      <!-- Student profile -->
        <!-- NAV TABS -->
               <!-- Tab Panes -->
        <div class='tab-content'>
          <div id='info' class='tab-pane fade in active'>
            <div class='col-sm-8'>
              <h3>Search</h3>
             <%= text_field_tag :query, params[:query],class: "form-control mr-sm-2" %> 
    <%= submit_tag "Search!" ,class: "btn btn-outline-info my-2 my-sm-0"%>
            </div>
     
